.commentSectionContainer { 
  display: flex;
  justify-content: left;
  width: 35%;
  flex-direction: column;
}

.commentSectionContainer h2 { 
  text-align: left;
}

.newCommentForm { 
  display: flex;
  flex-direction: column;
  width: inherit;
}

.newCommentForm button { 
  border: 1px black solid;
  margin-top: 20px;
}

.commentText {
  height: 100px
}

.commentSubmission {
    display: flex;
    margin-bottom:30px;
    text-align: left;
}

.mainPostContentContainer, .commentSectionContainer {
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
}
.mainPostContentAuthor {
  display: flex;
  flex-direction: column;
  font-size: small;
  padding-top: 10px;
}

.mainPostContentArticle {
  padding-top: 20px;
}

.mainPostContent p {
  text-align: left;
}

.mainPostContent h1 {
  text-align: left;
  text-shadow: none;
  margin: 0;
}

.mainPostSection {
  display: flex;
  flex:auto;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.comments {
  text-align: left;
}

.submissionButton {
  text-align: right;
}

.comment {
  margin-bottom: 30px;
}