#root {
  min-height: 100vh;
  text-align: center;
  display: grid;
  width: 100%
}

.fullDisplay {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: min-content;
  align-items: center;
  gap: 5px;
}