.commentSubmission {
    display: flex;
    justify-content: center;
    margin-bottom:30px;
  }

  .commentSection h2 { 
    text-align: left;
  }

  .mainPostContent {
    margin-bottom: 30px;
    text-align: left;
  }

  .mainPostSection {
    display: flex;
    flex:auto;
    flex-direction: column;
  }


  .commentSection h2 { 
    text-align: left;
  }
 
  .comments {
    text-align: left;
  }

  .comment {
    margin-bottom: 30px;
  }